<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        include includes/head-tags.pug
    body
        .container
            include includes/navigation.pug

            .profile-pic
            .row#about
                h1 Hello, I'm Jessica.
                p I am a junior front end developer based in the Bay Area, CA. I completed the full stack coding boot camp cohort at UC Berkeley Extension Coding Boot Camp this year. I am seeking a role as a front end developer to contribute to building functional and stunning UI's and continuing to learn more about web development.
                a#work(href="/portfolio.html") SEE MY WORK
