<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        include includes/head-tags.pug
    body
        .container
            include includes/navigation.pug

            .row#u-pick
                h1
                    a#logo(href="https://jessicanguyen1.github.io/Project-uPick/" target="_blank")
                        img(src="./assets/images/upicklogo3d.png", alt="u-pick-logo")
                p U-Pick is an application that I created for a school project with three other group members. This app provides assistance to an indecisive group of up to four people who are having difficulty deciding on where to dine. Using a process of elimination, this app will help you narrow down your options to a specific cuisine and show you a list of nearby restaurants.
        script. 
           $("#logo img").hover(function() {
                $(this).attr("src", "./assets/images/outlinelogo.png ");
            },
            function() {
                $(this).attr("src", "./assets/images/upicklogo3d.png");
            }); 

                
