* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif !important;
}

a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.2em;
  padding-bottom: 5px;
}

.nine a:hover {
  color: black;
}

.active {
  border-bottom: 6px solid black;
  color: black;
}

body {
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  background: #007991; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #78ffd6,
    #007991
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #78ffd6,
    #007991
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Navigation section */
.left-nav {
  text-align: left;
}

.right-nav {
  text-align: right;
}

.github {
  background-image: url("../images/github.png");
  background-repeat: no-repeat;
}

.linkedin {
  background-image: url("../images/linkedin.png");
  background-repeat: no-repeat;
}

.social {
  display: inline-block;
  text-align: right !important;
  height: 40px;
  width: 40px;
  padding: 0 5px;
}

nav ul li {
  display: inline-block;
  font-size: 20px;
  padding: 0px 20px;
}

/* Profile pic */
.profile-pic {
  height: 180px;
  width: 180px;
  border: solid 3px white;
  margin: auto;
  border-radius: 90px;
  background: url(https://cdn.pixabay.com/photo/2016/12/13/05/15/puppy-1903313_1280.jpg);
  background-size: 399px;
  background-position-x: -140px;
  background-position-y: -13px;
  background-repeat: no-repeat;
  margin-top: 50px;
}

/* About section */
#about {
  text-align: center;
  color: #ffffff;
}

#about h1 {
  padding-top: 60px;
  font-weight: 700 !important;
  font-family: "Pacifico", cursive;
  font-weight: 50 !important;
}

#about p {
  font-size: 30px;
}

#work {
  display: inline-block;
  border: solid 4px #ffffff;
  border-radius: 10px;
  padding: 15px 40px;
}

#portfolio {
  margin-top: 2000px;
}
