#contact {
  /* border: solid 1px #ffffff; */
  border: solid 4px #ffffff;
  border-radius: 20px;
  padding: 35px;
  margin-top: 50px;
}

h3 {
  text-align: center;
  color: #ffffff;
}

.button {
  text-align: center;
}

i {
  position: relative;
  left: 10px;
  bottom: 46px;
}

i.msg {
  position: relative;
  bottom: -30px;
}

input.dummy {
  padding-left: 35px;
}

textarea.dummy {
  padding-left: 35px;
}

.col-height {
  height: 60px;
}
