#contact {
  /* border: solid 1px #ffffff; */
  border: solid 4px #ffffff;
  border-radius: 20px;
  padding: 35px;
  margin-top: 50px;
}

h3 {
  text-align: center;
  color: #ffffff;
}

.button {
  text-align: center;
}

i {
  float: right;
  padding-top: 15px;
  color: #ffffff;
}

.two {
  margin-left: 100px;
}

.seven {
  margin-left: 90px !important;
}
