#u-pick {
  text-align: left;
  color: #ffffff;
}

#u-pick h1 {
  /* padding: 100px 300px 0px; */
  text-align: center;
}

#u-pick img {
  padding: 50px;
  max-height: 300px;
  max-width: 300px;
  background: transparent;
}

#u-pick p {
  font-size: 30px;
  text-align: center;
}

.ham {
  display: none;
}

@media only screen and (max-width: 700px) {
  nav .row {
    display: none;
  }
  .ham {
    display: block;
  }
}
