#u-pick {
  text-align: left;
  color: #ffffff;
}

#u-pick h1 {
  /* padding: 100px 300px 0px; */
  text-align: center;
}

#u-pick img {
  padding: 50px;
  max-height: 300px;
  max-width: 300px;
}

#u-pick p {
  padding: 0px 400px 0px 300px;
  font-size: 30px;
}
