html {
  font-family: "Roboto", sans-serif;
}

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.navigation {
  text-align: center;
}

nav ul li {
  display: inline-block;
}
