html {
  font-family: "Roboto", sans-serif !important;
}

a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.2em;
}

a:hover {
  color: #ffffff;
}

body {
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  background: #007991; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #78ffd6,
    #007991
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #78ffd6,
    #007991
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Navigation section */
.left-nav {
  text-align: left;
}

.right-nav {
  text-align: right;
}

.github {
  background-image: url("../images/github.png");
  background-repeat: no-repeat;
}

.linkedin {
  background-image: url("../images/linkedin.png");
  background-repeat: no-repeat;
}

.social {
  display: inline-block;
  text-align: right !important;
  height: 40px;
  width: 40px;
  padding: 0 5px;
}

nav ul li {
  display: inline-block;
  font-size: 20px;
  padding: 0px 20px;
}

/* About section */
#about {
  text-align: center;
  color: #ffffff;
}

#about h1 {
  padding-top: 100px;
  font-weight: 700 !important;
}

#about p {
  font-size: 30px;
}

#work {
  display: inline-block;
  border: solid 4px #ffffff;
  border-radius: 10px;
  padding: 15px 40px;
}

#portfolio {
  margin-top: 2000px;
}
