html {
  font-family: "Roboto", sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.2em;
}

body {
  margin-top: 25px;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.navigation {
  text-align: left;
}

nav ul li {
  display: inline-block;
  font-size: 20px;
  padding: 0px 20px;
}
